.Box{
    background: gray;
    width: 350px;
    height: 200px;
    text-align: right;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    display:inline-block;
}
.Box h1{
    border: 1px black;
    margin-top: 10px;
}
.div class h1{

   border: 1px;
}
@media(min-width:998px)
{
    .Box{
        float: left;
    }
}
@media(min-width:768px)and(max-width:991px)
{
    .Box{
        float: left;
    }
}
@media(min-width:767px)
{
    .Box{
        float: left;
    }
}

    
